<% @title = "Notifications Admin" %>

<%= content_for :pre_js_footer do %>
  <%# javascript_tag "STATUS_OPTIONS = #{MiPlan::Status.all.map(&:name).to_json}" %>
  <%# javascript_tag "USER_PRODUCTION_CENTRE = #{current_user.production_centre.name.to_json}" %>
<% end %>

<%= content_for :post_js_footer do %>
  <%= javascript_include_tag 'notifications/index' %>
<% end %>

<div class="clear"></div>

<div id="notifications-grid"></div>
