<% @title = "Notifications Admin" %>

<%= content_for :post_js_footer do %>
  <%= javascript_include_tag 'notifications/index' %>
<% end %>

<div class="clear"></div>

<div id="notifications-grid"></div>
