<div>
  <label>Status Change History</label>
  <span>
    <ul>
      <li>%= localize mi_attempt.mi_plan.status_stamps[0].created_at, :format => :imits %> <%= mi_attempt.mi_plan.status_stamps[0].name %></li>
    </ul>
  </span>
</div>
