<fieldset class="collapsible">
  <legend>Status Change History</legend>
  <div class="report">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% data = (mi_attempt.mi_plan.status_stamps.map {|i| [i.created_at, i.name]} +
                   mi_attempt.status_stamps.map {|i| [i.created_at, i.name]}).sort_by(&:first) %>
        <% data.each do |created_at, name| %>
          <tr>
            <td><%= created_at.utc.to_s(:imits) %></td>
            <td><%= name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</fieldset>
