<% @title = "Micro-Injection Summary" %>

<div id="micro-injection-summary" class="container_12">

  <div class="grid_4">
    <p id="search-message">
      Enter some search terms, separated by new-lines.
      You can use <em>clone names</em>, <em>gene symbols</em>,
      and <em>colony names</em>.
    </p>
  </div>

  <div class="grid_4 suffix_4">
    <form method="get" action="/mi_attempts">
      <div>
        <textarea cols="10" rows="10" name="search_terms" id="search_terms"><%= @search_terms.join "\n" %></textarea>
      </div>

      <div id="buttons">
        <input id="submit" type="submit" value="Search" />
        <button type="button" onclick="document.getElementById('search_terms').innerHTML = ''">Clear</button>
      </div>
    </form>
  </div>

  <div class="clear"></div>

  <% if ! Rails.env.production? %>
  <div class="grid_12">
    <p id="sample_data_warning">SAMPLE DATA - no real data will be affected by making modifications here</p>
  </div>
  <% end %>

</div>

<div>
  <%= mi_attempts_table(@search_terms) %>
</div>
