<% @tab = 'Solr Update Queue' %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'solr_update_queue_items/index' %>
<% end %>

<div class="clear"></div>

<div id="solr-update-queue-items-grid" style="width: 550px; margin-left: auto; margin-right: auto"></div>
