<h1>Colonies</h1>

<% @colonies.each do |colony| %>

<% marker_symbol = colony.mi_attempt.mi_plan.gene.marker_symbol %>

<p><a href="/colony/show/<%= colony.id %>"><%= "#{marker_symbol} - #{colony.name} (#{colony.try(:trace_call).first.try(:trace_file_file_name)})" %></a></p>

<% end %>



<% if @debug %>
<%= debug @colonies %>
<% end %>