<% @tab = "Download of all Production" %>
<% @title = 'Summary of all IMPC production' %>

<div class="grid_12">
  <h2><%= @title %></h2>

<p class='read_only_description'>This report summarises all IMPC production by gene consortium and production centre</p>

<p class='read_only_description'>The columns of the report are as follows:</p>

<p class='read_only_description'><strong>Consortium:</strong> IMPC consortium reposnsible for mouse production or phenotyping</p>
  <p class='read_only_description'><strong>Priority:</strong> an indicator of the effort applied to mouse production</p>
  <p class='read_only_description'><strong>Production Centre:</strong> the centre at which mouse production is conducted</p>
  <p class='read_only_description'><strong>Gene:</strong> marker symbol of MGI locus</p>
  <p class='read_only_description'><strong>Status:</strong> the overall status of the project</p>
  <p class='read_only_description'><strong>Assigned Date:</strong> date at which gene entered the pipeline</p>
  <p class='read_only_description'><strong>Assigned - ES Cell QC In Progress Date:</strong> date at which pre-injection QC started</p>
  <p class='read_only_description'><strong>Assigned - ES Cell QC Complete Date:</strong> date at which pre-injection QC completed</p>
  <p class='read_only_description'><strong>Micro-injection in progress Date:</strong> date at which mouse production began</p>
  <p class='read_only_description'><strong>Chimeras obtained Date:</strong> date at which chimeras were obtained</p>
  <p class='read_only_description'><strong>Genotype confirmed Date:</strong> date at which genotype confirmed mice were obtained</p>
  <p class='read_only_description'><strong>Micro-injection aborted Date:</strong> date at which current production attempt was abandoned</p>
  <p class='read_only_description'><strong>Phenotype Attempt Registered Date:</strong> date at which genotype confirmed mice were registered for phenotyping</p>
  <p class='read_only_description'><strong>Cre Excision Started Date:</strong> date at which cre excision started</p>
  <p class='read_only_description'><strong>Cre Excision Complete Date</strong> date at which cre excision completed</p>
  <p class='read_only_description'><strong>Phenotyping Start Date:</strong> date at which phenotyping data starts to flow to MPI2 DCC</p>
  <p class='read_only_description'><strong>Phenotyping Complete Date:</strong> date at which phenotyping completed</p>
</div>

<div class="report grid_12">
  <%= link_to('Download', url_for(:action => :detail, :controller => 'reports/mi_production', :format => :csv)) %>
</div>
