<% @tab = "Summary of all production" %>
<% @title = 'Summary of all IMPC production' %>

<div class="grid_12">
  <h2><%= @title %></h2>

<!--
<p>This report summarises all IMPC production by gene consortium and production centre</p>

<p>The columns of the report are as follows:</p>

<ul>
  <li>Consortium: IMPC consortium reposnsible for mousr production or phenotyping</li>
  <li>Priority: an indicator of the effort applied to mouse production</li>
  <li>Production Centre: the centre at which mouse production is conducted</li>
  <li>Gene: marker symbol of MGI locus</li>
  <li>Status: the overall status of the project</li>
  <li>Assigned Date: date at which gene entered the pipeline</li>
  <li>Assigned - ES Cell QC In Progress Date: date at which pre-injection QC started</li>
  <li>Assigned - ES Cell QC Complete Date: date at which pre-injection QC completed</li>
  <li>Micro-injection in progress Date: date at which mouse production began</li>
  <li>Chimeras obtained Date: date at which chimeras were obtained</li>
  <li>Genotype confirmed Date: date at which genotype confirmed mice were obtained</li>
  <li>Micro-injection aborted Date: date at which current production attempt was abandoned</li>
  <li>Phenotype Attempt Registered Date: date at which genotype confirmed mice weer registered for phenotyping</li>
  <li>Cre Excision Started Date: date at which </li>
  <li>Cre Excision Complete Date</li>
  <li>Phenotyping Start Date: date at which phenotyping data starts to flow to MPI2 DCC</li>
  <li>Phenotyping Complete Date</li>
  <li>Phenotype Attempt Aborted Date</li>
</ul>
-->


<p style='line-height:180%'>This report summarises all IMPC production by gene consortium and production centre</p>

<p style='line-height:180%'>The columns of the report are as follows:</p>

<p style='line-height:180%'><strong>Consortium:</strong> IMPC consortium reposnsible for mouse production or phenotyping</p>
  <p style='line-height:180%'><strong>Priority:</strong> an indicator of the effort applied to mouse production</p>
  <p style='line-height:180%'><strong>Production Centre:</strong> the centre at which mouse production is conducted</p>
  <p style='line-height:180%'><strong>Gene:</strong> marker symbol of MGI locus</p>
  <p style='line-height:180%'><strong>Status:</strong> the overall status of the project</p>
  <p style='line-height:180%'><strong>Assigned Date:</strong> date at which gene entered the pipeline</p>
  <p style='line-height:180%'><strong>Assigned - ES Cell QC In Progress Date:</strong> date at which pre-injection QC started</p>
  <p style='line-height:180%'><strong>Assigned - ES Cell QC Complete Date:</strong> date at which pre-injection QC completed</p>
  <p style='line-height:180%'><strong>Micro-injection in progress Date:</strong> date at which mouse production began</p>
  <p style='line-height:180%'><strong>Chimeras obtained Date:</strong> date at which chimeras were obtained</p>
  <p style='line-height:180%'><strong>Genotype confirmed Date:</strong> date at which genotype confirmed mice were obtained</p>
  <p style='line-height:180%'><strong>Micro-injection aborted Date:</strong> date at which current production attempt was abandoned</p>
  <p style='line-height:180%'><strong>Phenotype Attempt Registered Date:</strong> date at which genotype confirmed mice were registered for phenotyping</p>
  <p style='line-height:180%'><strong>Cre Excision Started Date:</strong> date at which cre excision started</p>
  <p style='line-height:180%'><strong>Cre Excision Complete Date</strong> date at which cre excision completed</p>
  <p style='line-height:180%'><strong>Phenotyping Start Date:</strong> date at which phenotyping data starts to flow to MPI2 DCC</p>
  <p style='line-height:180%'><strong>Phenotyping Complete Date:</strong> date at which phenotyping completed</p>
  <!--<p style='line-height:180%'><strong>Phenotype Attempt Aborted Date:</strong></p>-->
</div>

<div class="report grid_12">
  <%= link_to('Download', url_for(:action => :detail, :controller => 'reports/mi_production', :format => :csv)) %>
</div>
