

<table>
  <tr>
    <td rowspan = 2>
      <div class="report">
      <table >
        <tr>
          <th>State</th>
          <th>Current</th>
          <th>Last Month</th>
        </tr>
        <tr>
          <td>Assigned genes</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ES QC</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ES QC Confirmed</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>ES QC Failed</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Mouse Production</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Confirmed Mice</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Indent to Phenotype</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Cre Excision Complete</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Phenotyping Complete</td>
          <td></td>
          <td></td>
        </tr>
      </table></div>
    </td>
    <td>
      Mi Goal GRAPH
    </td>
  </tr>
  <tr>
    <td>
      Genotype Goal GRAPH
    </td>
  </tr>
</table>

