<% @title = 'MI Production Reports' %>

<div class="grid_4">&emsp;</div>
<div class="grid_4">
  <h2><%= @title %></h2>
</div>

<div class="clear"></div>

<div class="grid_4">&emsp;</div>
<div class="grid_4">
  <div class="report-links">
    <a href="<%= url_for(:controller => '/reports/mi_production', :action => :intermediate, :format => :csv) %>">
      <h4>(INTERNAL) Intermediate MI Production Report</h4>
    </a>
  </div>

  <div class="report-links">
    <a href="<%= url_for(:controller => '/reports/mi_production', :action => :summary_by_consortium_and_accumulated_status) %>">
      <h4>mousephenotype.org feed</h4>
      <p>Summary by consortium and accumulated status</p>
    </a>
  </div>

  <div class="report-links">
    <a href="<%= url_for(:controller => '/reports/mi_production', :action => :summary_komp23) %>">
      <h4>KOMP2 Report 2 New</h4>
      <p>Accumulation report</p>
    </a>
  </div>

</div>
