<% @title = 'Languishing Production Report' %>

<style media="screen" type="text/css">
  .assigned_es_cell_qc_in_progress.bin3,
  .assigned_es_cell_qc_in_progress.bin4,
  .assigned_es_cell_qc_in_progress.bin5,
  .assigned_es_cell_qc_in_progress.bin6,
  .assigned_es_cell_qc_in_progress.bin7,

  .micro_injection_in_progress.bin3,
  .micro_injection_in_progress.bin4,
  .micro_injection_in_progress.bin5,
  .micro_injection_in_progress.bin6,
  .micro_injection_in_progress.bin7 {
    background-color: #F0DE7D;
  }
</style>

<h2><%= @title %></h2>

<p><%= link_to('Download as CSV', url_for({:action => :languishing, :format => :csv}.merge(params))) %></p>

<div class="report grid_12">

<%= @report.to_html.html_safe %>

</div>
