<% @title = 'Summary Month by Month' %>

<h2>Summary Month by Month</h2>

<p><%= link_to('Download as CSV', url_for({:action => :summary_month_by_month_activity, :controller => '/reports/mi_production', :format => :csv}.merge(params)))%></p>

<br/>

<div class="report grid_12">

<% if @report_renderer.nil? %>
  <p><em>Sorry, no production data found</em></p>
<% else %>
  <%= raw @report_renderer[:html] %>
<% end %>

</div>

