<% @title = 'Production Summaries' %>

<% content_for :head do %>
<style type="text/css">
  .report th, .report td {
    text-align: center
  }
  .descriptions th, .descriptions td {
     text-align: left
  }
</style>


<% end %>

<h2><%= @title2 %></h2>

<%
link_params = params.dup
link_params.delete(:action)
link_params.delete(:controller)
link_params.delete(:script_name)
link_params.delete(:format)
%>
<p><%=  link_to('Download as CSV', url_for({:action => controller.action_name, :controller => '/reports/mi_production', :format => :csv}.merge(link_params))) %></p>

<div class="report grid_12">

<h2>Mouse Production Summary</h2>

<a href="#production_status_explanations">Status Explanations</a>

<%= raw @mouse_html if @mouse_html%>

<br/>
<h2>Phenotyping  Summary</h2>

<a href="#phenotype_status_explanations">Status Explanations</a>

<%= raw @pheno_html if @pheno_html %>

<br/>
<a name="production_status_explanations">Status Explanations</a>
<table class="descriptions">
<thead>
<tr><th width="250">Status</th><th>Description</th></tr>
</thead>
<tbody>
<tr><td><strong>All Genes</strong></td><td>Unique genes targeted by Consortium</td></tr>
<tr>
  <td><strong>ES Cell QC</strong></td>
  <td><strong>Cumulative!</strong>Genes where we see <em>any</em> ES QC activity, in progess, successful or aborted</td></tr>
<tr>
  <td><strong>ES QC Confirmed</strong></td>
  <td>Genes where QC ES Cell clone(s) have been thawed and QC passed.</td>
</tr>
<tr>
  <td><strong>Aborted - ES QC Failed</strong></td>
  <td>
    Genes where <em>no</em> more attempts will be made to thaw existing ES Cell clones for this gene.
  </td>
</tr>
<tr>
  <td><strong>Microinjections</strong></td>
  <td><strong>Cumulative!</strong> Number of Genes with any mouse production activity, In Progess, Chimeric, Genotype Confirmed or Aborted</td>
</tr>
<tr>
  <td><strong>Chimeras</strong></td>
  <td>Number of Genes where iMits has at least one male chimera recorded</td>
</tr>
<tr>
  <td><strong>Genotype Confirmed Mice</strong></td>
  <td>Number of Genes where iMits has at least one 'Chimera with GC offspring' or 'Het offspring' recorded.</td>
</tr>
<tr>
  <td><strong>Gene Pipeline Efficiency</strong></td>
  <td>(#Unique Genes for all Genotype Confirmed MI's > 6 months old) / (#Unique Genes for <em>all</em> MI's > 6 months old)</td>
</tr>
<tr>
  <td><strong>Clone Pipeline Efficiency</strong></td>
  <td>(#Unique Clones for all Genotype Confirmed MI's > 6 months old) / (#Unique Clones for <em>all</em> MI's > 6 months old)</td>
</tr>
</tbody>
</table>

<br/>
<a name="phenotype_status_explanations">Status Explanations</a>
<table class="descriptions">
<thead>
<tr><th width="250">Status</th><th>Description</th></tr>
</thead>
<tbody>
<tr><td><strong>Genotype Confirmed Mice</strong></td><td>GC Mice from production table</td></tr>
<tr>
  <td><strong>Intent to Phenotype</strong></td>
  <td><strong>Cumulative!</strong> Number of Genes where Genotype Confirmed Mice have been Registered for Phenotyping by <em>this</em> Consortium / Production Centre <br/>(Mice may be drawn from <em>other</em> consortia)</td>
</tr>
<tr>
  <td><strong>Rederivation Started / Finished</strong></td>
  <td>This step can be skipped</td>
</tr>
<tr>
  <td><strong>Phenotype started / completed</strong></td>
  <td>Phenotyping <strong>data</strong> has started / finished flowing to the KOMP2 DCC (MPI2) - currently accessible via machine interface only</td>
</tr>
</tbody>
</table>
</div>
