<% @title = 'Summary Month by Month' %>

<% if false %>

<p><%= link_to('Download as CSV', url_for({:action => :summary_month_by_month_activity, :controller => '/reports/mi_production', :format => :csv}.merge(params)))%></p>

<br/>

<% end %>

<% if false %>

<div class="report grid_4">

<h2>Report 1</h2>

<% if @report1.nil? %>
  <p><em>Sorry, no production data found</em></p>
<% else %>
  <%=raw @report1.to_html %>
<% end %>

</div>

<h2>Report 2</h2>

<div class="report grid_4">

<% if @report2.nil? %>
  <p><em>Sorry, no production data found</em></p>
<% else %>
  <%=raw @report2.to_html %>
<% end %>

<% end %>

<h2>Report 3</h2>

<div class="report grid_4">

<% if @report3.nil? %>
  <p><em>Sorry, no production data found</em></p>
<% else %>
  <%=raw @report3.to_html %>
<% end %>

</div>

