<% @title = 'Production Summaries' %>

<h2><%= @title2 %></h2>

<% if ! @report_renderer[:csv].nil? %>

<p><%=
params.delete(:action)
params.delete(:controller)
params.delete(:script_name)
params.delete(:format)
link_to('Download as CSV', url_for({:action => :summary_komp23, :controller => '/reports/mi_production', :format => :csv}.merge(params))) if @csv
%></p>

<% if @csv %><br/><% end %>

<% end %>

<div class="report grid_12">

<% if @report_renderer[:html].nil? %>
  <p><em>Sorry, no production data found</em></p>
<% else %>
  <%=raw @report_renderer[:html] %>
<% end %>

</div>
