<% @title = 'Production Summaries' %>

<h2><%= @title2 %></h2>

<%
  qpos = request.fullpath.index('?')
  params = qpos && qpos > -1 ? '?' + request.fullpath.scan( /\?(.+)/ ).last.first : ''
%>

<% if @report %>

<p><%= link_to('Download as CSV', url_for(:action => :summary_komp21, :controller => '/reports/mi_production', :format => :csv) + params) if @csv %></p>

<% if @csv %><br/><% end %>

<% end %>

<div class="report grid_12">

<% if @report.nil? %>
  <p><em>Sorry, no production data found</em></p>
<% else %>
  <%=raw @report.to_html %>
<% end %>

</div>
