<% @title = 'Production Summaries' %>

<% content_for :head do %>
<style type="text/css">
  .report th, .report td {
    text-align: center
  }
</style>
<% end %>

<h2><%= @title2 %></h2>

<% if @report %>

<p><%= link_to('Download as CSV', url_for({:action => :summary_komp23, :controller => '/reports/mi_production', :format => :csv}.merge(params))) if @csv %></p>

<% if @csv %><br/><% end %>

<% end %>

<div class="report">

<% if @report.nil? %>
  <p><em>Sorry, no production data found</em></p>
<% else %>
  <%=raw @report %>
<% end %>

</div>
