html, body {
    font-size: 12px;
    line-height: 1.5em;
    font-family: arial, helvetica, sans-serif;
}

sup {
    vertical-align: super;
    font-size: 80%;
}

em {
    font-style: italic;
}

#header {
    display: block;
    color: white;
    background: #074987;
    margin-bottom: 2em;
    padding-left: 1em;
    overflow: hidden; /* clear floats */
    height: 4em;
}

#header a {
    color: white;
}

#header > div.right {
    width: auto;
    float: right;
    margin-right: 1em;
    line-height: 4em;
}

h1 {
    float: left;
    width: auto;
    font-size: 2em;
    line-height: 2em;
}

h1 a {
    text-decoration: none;
}

h1 a:hover, h1 a:active {
    text-decoration: underline;
}

div#mainnav-outer {
    position: absolute;
    left: 50%;
}

div#mainnav {
    float: left;
    font-size: 1.5em;
    line-height: 2.67em;
    position: relative;
    left: -50%;
    margin-top: 2px;
}

div#mainnav a {
    display: block;
    float: left;
    width: auto;
    padding: 0 1em;
    border: 1px solid white;
    border-top-left-radius: 15px 30px;
    border-top-right-radius: 15px 30px;
    -moz-border-radius-topleft: 15px 30px;
    -moz-border-radius-topright: 15px 30px;
}

div#mainnav a.current {
    background-color: white;
    color: #074987;
}

#container {
   margin: 0 1em;
}

.message {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.message p {
    border: 3px solid white;
}

.message p.body {
    padding: 3px;
    margin-top: 0;
}

.message.notice p {
    border-color: green;
}

.message.error p, .message.alert p {
    border-color: darkred;
}

.message p.header {
    color: white;
    font-size: 125%;
    line-height: 1.6em;
    padding-left: 1em;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 28px;
}

.message.notice p.header {
    background-image: url('/images/icons/flag_green.png');
    background-color: green;
}

.message.error p.header, .message.alert p.header {
    background-image: url('/images/icons/flag_red.png');
    background-color: darkred;
}

.wait {
    cursor: wait;
}

#error_explanation, .field_with_errors label {
    background-color: red;
}

#mi-attempts-form {
    overflow: hidden; /* clear floats */
}

#mi-attempts-grid {
    margin-top: 2em;
    height: 100%;
}

#sample-data-warning {
    font-size: 3em;
    background-color: red;
    color: white;
    line-height: 1em;
    text-align: center;
    margin-top: 1em;
}

form {
    display: block;
}

textarea#search-terms {
    width: 100%;
    overflow: auto;
    height: 10em;
}

#buttons {
    text-align: center;
}
#buttons input, #buttons button {
    width: 45%;
}

.large-text {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 1em;
}

#login-form {
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}

#login-form form > div {
    overflow: hidden; /* clear floats */
    margin-top: 0.5em;
}

#login-form label {
    float: left;
    width: 8em;
}

#login-form input {
    display: block;
    width: 15em;
    margin-left: 8em;
}

#login-form input[type=checkbox] {
    width: auto;
}

#login-form input[type=submit] {
    margin-top: 1em;
}

#footer {
    font-size: 80%;
    margin-top: 2em;
    background: #074987;
    color: white;
}
