html, body {
    font-size: 12px;
    line-height: 1.5em;
    font-family: arial, helvetica, sans-serif;
}

sup {
    vertical-align: super;
    font-size: 80%;
}

h1 {
    display: block;
    font-size: 2em;
    line-height: 2em;
    color: white;
    background: #074987;
    margin-bottom: 0.5em;
    padding-left: 1em;
}

#container {
    margin: 1em;
}

form {
    display: block;
    margin-bottom: 1em;
}

textarea#search_terms {
    width: 100%;
    overflow: auto;
    height: 10em;
}

#buttons {
    text-align: center;
}
#buttons input, #buttons button {
    width: 45%;
}
