/* @override http://localhost:3000/stylesheets/application.css */

/* @group Layout */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

#header {
	padding-top: 5px;
}

#header h1 {
	margin-bottom: 0;
}

#header h1 a {
	display: block;
	background: url('../images/imits_logo.png') no-repeat left center;
	height: 65px;
	text-indent: -9999px;
	margin-bottom: 5px;
}

#footer {
    margin-top: 2em;
	margin-bottom: 2em;
	border-top: 5px solid #a6c5ec;
	padding-top: 1em;
	color: #333;
	font-size: smaller;
}

/* @end */

/* @group Type */

html, body, .x-body {
    font-size: 12px;
    line-height: 1.5em;
    font-family: Verdana, sans-serif;
}

/* TODO BAD - Find out how to do this in a better, more theme-compatible way */
.x-panel, .x-window {
    line-height: 12px;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #111;
}

h1 { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }
h2 { font-size: 2em; margin-bottom: 0.75em; }
h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
h4 { font-size: 1.2em; line-height:1.25; margin-bottom: 1.25em; }
h5 { font-size: 1em; font-weight:bold; margin-bottom: 1.5em; }
h6 { font-size: 1em; font-weight:bold; }
h7 { font-size: 1em}

sup { vertical-align: super; font-size: 80%; }
em { font-style: italic; }
strong { font-weight: bold; }

.large-text {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 1em;
}

/* @end */

/* @group Links */

a:focus, a:hover { color: #8f110b; }
a { color: #009; text-decoration: underline; }

a.button {
  display: inline-block;
  border: 2px solid #b0de78;
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #caed9e;
  border-radius: 4px;
  color: #212121;
  padding: 5px 10px;
}

a.button:hover {
  border: 2px solid #f06d65;
  background-color: #f78b83;
}

a.csv_download, a.back {
  background-position: 4px center;
  background-repeat: no-repeat;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 24px;
}

a.csv_download {
  background-image: url('../images/icons/page_excel.png');
}

a.back {
  background-image: url('../images/icons/control_rewind.png');
}

a.mi-plan {
  display: inline-block;
  margin-bottom: 2px;
}

a.mi-plan:hover {
  color: #8f110b;
}

/* @end */

/* @group Lists */

li ul, li ol { margin: 0 1.5em; }
ul, ol { margin: 0.5em 1.5em; }
ul { list-style-type:disc; }
ol { list-style-type:decimal; }

/* ExtJS Fix */
ul[class*=x-] { margin: 0; }
ul[class*=x-tab] { list-style: none; }

/* @end */

/* @group Navigation */

/* CSS gradients from http://www.colorzilla.com/gradient-editor/ */
#navigation ul {
	margin: 0px;
	padding: 0px;
	line-height: 29px;
	white-space: nowrap;
	border-radius: 4px;
	background: #d1e0fe; /* Old browsers */
	background: -moz-linear-gradient(top, #d1e0fe 15%, #a6c5ec 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#d1e0fe), color-stop(80%,#a6c5ec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e0fe', endColorstr='#a6c5ec',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* W3C */
}

#navigation li {
	list-style-type: none;
	display: inline;
	border-left: 1px solid #c0c0c0;
}

#navigation li:first-child {
	border: none;
	margin-left: 10px;
}

#navigation li a {
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	color: #333;
}

#navigation li.current a,
#navigation li a:hover {
	font-weight: bold;
	color: #8f110b;
}

/* @end */

/* @group Sub-Navigation */

/* CSS gradients from http://www.colorzilla.com/gradient-editor/ */
#sub-navigation ul {
	margin: 0px;
	padding: 0px;
	line-height: 29px;
	white-space: nowrap;
	border-radius: 4px;
	background: #d1e0fe; /* Old browsers */
	background: -moz-linear-gradient(top, #d1e0fe 15%, #a6c5ec 80%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#d1e0fe), color-stop(80%,#a6c5ec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e0fe', endColorstr='#a6c5ec',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #d1e0fe 15%,#a6c5ec 80%); /* W3C */
}

#sub-navigation li {
	list-style-type: none;
	display: inline;
	border-left: 1px solid #c0c0c0;
}

#sub-navigation li:first-child {
	border: none;
	margin-left: 10px;
}

#sub-navigation li a {
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	color: #333;
}

#sub-navigation li.current a,
#sub-navigation li a:hover {
	font-weight: bold;
	color: #8f110b;
}

/* @end */

/* @group UserBox */

#userbox {
	padding: 5px;
	margin-top: 5px;
}

#userbox-inner {
 	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #e7ecfb;
	padding: 5px;
	text-align: center;
}

#userbox-inner a {
	color: #376598;
	text-decoration: none;
}

#userbox-inner a:hover {
	text-decoration: underline;
}

/* @end */

/* @group Messages */

div#messages {
	margin-bottom: 1.5em;
}

.message {
	background: url('../images/icons/flag_green.png') no-repeat 4px 6px;
	padding: 6px 6px 6px 24px;
	width: auto;
	border-radius: 4px;
	margin: 7px 15px 0;
}

.message.notice {
	background-image: url('../images/icons/flag_green.png');
    background-color: #caed9e;
	border: 2px solid #b0de78;
}

.message.error, .message.alert {
    background-image: url('../images/icons/flag_red.png');
    background-color: #f78b83;
	border: 2px solid #f06d65;
}

.message.warning {
    background-image: url('../images/icons/flag_yellow.png');
    background-color: #fbf7aa;
	border: 2px solid #f0de7d;
}

/* @end */

/* @group Homepage and Report Index Page */

.homepage-links, .report-links {
  background: url('../images/go-next.png') no-repeat left top;
  margin-bottom: 20px;
  padding-left: 37px;
  min-height: 32px;
}

.report-links {
  background-image: url('../images/x-office-spreadsheet.png');
}

.homepage-links h3, .homepage-links h4,
.report-links h3, .report-links h4 {
  margin-bottom: 2px;
}

.homepage-links a, .report-links a {
  text-decoration: none;
}

.homepage-links a:hover h3,
.homepage-links a:hover h4,
.report-links a:hover h3,
.report-links a:hover h4 {
  color: #8f110b;
}

.homepage-links a p, .homepage-links a ul,
.report-links a p, .report-links a ul {
  font-style: italic;
  color: #999;
}

.homepage-links a ul, .homepage-links a ul li,
.report-links a ul, .report-links a ul li {
  list-style-type: disc;
  list-style-position: inside;
}

.homepage-links strong, .report-links strong {
  font-style: italic;
}

/* @end */

/* @group Tables */

table.full_width {
  width: 100%;
}

table.report_table {
  margin-bottom: 20px;
}

table.report_table th, .report table th, .report_chunky table th   {
  border: 1px solid #999;
  text-align: left;
  background-color: #ccc;
}

table .report_chunky table tr:nth-child(odd)   {
  background-color: #e6e6e6;
}

table.report_table td, .report table td, .report_chunky table td  {
	border: 1px solid #999;
}

table.report_table th, .report table th,  {
  padding: 3px 3px;
}

table.report_table td, .report table td {
        padding: 3px 3px;
}

table.report_table tr.odd td, .report table tr.odd td {
	background: #f1f1f1;
}


table .report_chunky table th {
  padding: 0px 15px;
  font-size:15px;
}

table .report_chunky table td {
        padding: 0px 15px;
        font-size:15px;
}
/* @end */

/* @group Forms */


label, .label {
    display: block;
    font-style: italic;
}

input[type=checkbox] ~ label {
    display: inline;
}

form fieldset {
    border: 2px solid #a6c5ec;
    padding: 20px;
    padding-top: 0;
    margin-bottom: 2em;
    border-radius: 4px;
}

form fieldset legend {
	padding-left: 5px;
	padding-right: 5px;
	font: italic 1.4em Georgia, "Times New Roman", Times, serif;
}

form fieldset > div {
    margin-bottom: 1em;
}

form fieldset > div > div, form fieldset > table, form fieldset > div > table {
    margin-top: 1em;
}

form textarea {
    height: 5em;
}

form div.field_with_errors {
    display: inline;
}

form div.errors {
    background-color: #f78b83;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin-left: -0.5em;
    padding-left: 0.5em;
	border: 2px solid #f06d65;
	border-radius: 4px;
	color: darkred;
}

form span.error-message {
    font-weight: bold;
}

/* @group Collapsible Fieldsets */

form fieldset legend.collapsible-control {
	padding-left: 16px;
	background-position: 0 center;
	background-repeat: no-repeat;
}

form fieldset legend.collapsible-control:hover {
	cursor: pointer;
}

form fieldset.collapsible-content-shown legend.collapsible-control {
	background-image: url('../images/icons/bullet_arrow_down.png');
}

form fieldset.collapsible-content-hidden legend.collapsible-control {
	background-image: url('../images/icons/bullet_arrow_right.png');
}

form fieldset.collapsible-content-hidden {
	padding: 0 20px;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-radius: 0px;
}

/* @end */

/* @group User Login / Password Change Form */

div.user-form table {
    margin-left: auto;
    margin-right: auto;
}

div.user-form table td {
    padding-bottom: 1em;
}

div.user-form input {
    width: 18em;
}

div.user-form input[type=checkbox] {
    width: auto;
}

div.user-form div.submit {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0;
}

/* @end */

/* @group Micro-Injection Search Form */

#mi-search-form #search-terms { height: 8em; width: 100%; }
#mi-search-form select { margin-left: 1em; }
#mi-search-form table td { padding-bottom: 1em; }
#mi-search-form #buttons { margin-bottom: 0; }
#mi-search-form #buttons a { cursor: pointer; }
#mi-search-form fieldset { padding-bottom: 10px; margin-bottom: 10px; }
#mi-search-form fieldset > div { margin-bottom: 7px; }

/* @end */

/* @group Phenotype Attempts Search Form */

#pa-search-form #search-terms { height: 8em; width: 100%; }
#pa-search-form select { margin-left: 1em; }
#pa-search-form table td { padding-bottom: 1em; }
#pa-search-form #buttons { margin-bottom: 0; }
#pa-search-form #buttons a { cursor: pointer; }
#pa-search-form fieldset { padding-bottom: 10px; margin-bottom: 10px; }
#pa-search-form fieldset > div { margin-bottom: 7px; }

/* @end */

/* @group Micro-Injection Create/Edit Form */

#mi-attempt-box,
#mi-attempt-new-top,
#mi-attempt-new-bottom {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
}

/* @end */

/* @group Phenotype Attempt Create/Edit Form */

#phenotype-attempt-box,
#phenotype-attempt-new-top,
#phenotype-attempt-new-bottom {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
}

/* @end */

/* @group MiPlan/Gene Search Form */

#gene-search-form #q_marker_symbol_or_mgi_accession_id_ci_in { height: 8em; width: 100%; }
#gene-search-form fieldset { padding-bottom: 10px; margin-bottom: 10px; }
#gene-search-form fieldset > div { margin-bottom: 7px; }

/* @end */

/* @group Reports Form */

form.report-form table { width: 100%; }
form.report-form table td { width: 50%; }
form.report-form table td select { width: 80%; }
form.report-form fieldset { margin-bottom: 10px; padding: 10px; }
form.report-form fieldset > div { margin-bottom: 7px; }
form.report-form { margin-bottom: 20px; }

/* @end */

/* @end */

/* @group Reports */

div.report_control {
	display: inline-block;
	border: 1px solid #929292;
	background-color: #f6fdff;
	margin: 5px;
	padding: 5px;
}

div.report_control * {
	vertical-align: top;
}

.report {
  margin-top: 2em;
  margin-bottom: 20px;
}

.report p {
	margin-bottom: 10px;
	margin-top: 10px;
	font: bold medium Georgia, "Times New Roman", Times, serif;
}

/* @end */

.wait {
    cursor: wait;
}

#mi-attempts-grid {
    margin-top: 1.5em;
}

/* @group ExtJS Icons */

.icon-grid {
    background-image: url(../images/icons/application_view_columns.png) !important;
}

.icon-add {
    background-image: url(../images/icons/add.png) !important;
}

/* @end */

.contactable {
    background-color: #caed9e;
}

.contactable-legend {
    background-color: #caed9e;
    padding: 0.5em;
}
