<% crispr = f.object %>

<tr>
    <td><%= f.text_field :name%></td>
    <td><%= f.text_field :sequence%></td>
    <td><%= f.text_field :genomic_start_coordinate%></td>
    <td><%= f.text_field :genomic_end_coordinate%></td>
</tr>
