<tr>
    <td><%= f.collection_select(:reagent_name, ReagentName.all, :name, :name, :include_blank => true) %></td>
    <td><%= f.text_field :concentration, :onchange => 'validateFloatKeyPress(this)' %> ng/uL</td>
</tr>
