<% @tab = "Home" %>

<div class="grid_12">
  <div style="padding-bottom:30px;">
    <div style="padding-bottom:30px; border-bottom: 1px solid #bbb;">
      <h2>Welcome</h2>

      <p>Welcome to International Micro-Injection Tracking System. iMITS is the designated database for the planning of all IMPC mouse production,</br>
       as well as the central database to allow IMPC production centres to record the progress of mouse production, cre-excision and to summarise</br>
       the progress of phenotype data collection and transfer to the <a href="http://www.mousephenotype.org/">IMPC DCC</a>.</br></br>
       iMITS also stores all the mutation molecular structures made for the IKMC, as well as a catalog of all IKMC products.</br></br>
       All IMPC data (especially phenotyping data) can be found on <a href="http://www.mousephenotype.org/">the IMPC website</a></br></br>
       All IMPC-related queries should be addressed to <a href='mailto:info@mousephenotype.org'>info@mousephenotype.org</a></p>
    </div>
  </div>

  <% if Rails.application.config.show_search_page %>

  <div class="homepage-links" id = 'gene_search' name = 'gene_search' >
    <h3>Quick search for IMPC products by gene</h3>
    <input type ='text' id = 'search_for_gene' name = 'search_for_gene'>
    <button  onclick="populate_allele_grid()" id = 'gene_search_submit'>Search</button>
    <p>Search by Marker symbol or MGI number</p>
  </div>

  <% end %>

</div>

<div class="grid_12">
  <%= render 'open/root/mpi2_grid' %>
</div>

<!--<div class="grid_8">
  <div class="homepage-links">
    <a href="<%= gene_selection_open_mi_plans_path %>">
      <h3>Gene selection and planning</h3>
      <p>View production plans for each IMPC member consortium.</p>
    </a>
  </div>

  <div class="homepage-links">
    <a href="<%= open_mi_attempts_path() %>">
      <h3>IMPC Mouse production</h3>
      <p>Progress summary for mouse production attempts at each</br>centre, including genotyping assays.</p>
    </a>
  </div>

  <div class="homepage-links">
    <a href="<%= open_phenotype_attempts_path() %>">
      <h3>IMPC Phenotyping</h3>
      <p>Progress summary for cre-excision and phenotype data</br>collection at each production / phenotyping centre.</p>
    </a>
  </div>
</div>-->
