<% @title = 'Edit' %>

<div id="contact-box" class="grid_8 prefix_2 suffix_2">
  <%= form_for @contact, :as => :contact, :html => {:class => 'edit show contact'} do |form| %>
    <%= render 'form', :form => form %>
    <div>
      <%= form.submit 'Update', :class => 'disable-on-submit' %>
    </div>
<% end %>
</div>
