<%= @contact.inspect %>

<div id="contact-new-bottom" class="grid_8 prefix_2 suffix_2">
  <%= form_for @contact, :as => :contact do |form| %>
    <div id="rest-of-form">
      <%= render 'form', :form => form %>
      <div>
        <button id="contact_submit">Register</button>
      </div>
    </div>
  <% end %>
</div>

