<% @tab = 'View & Edit MI Your Genes' %>

<%= render 'plan_editor_js_constants' %>

<% content_for :pre_js_footer do %>
  <%= javascript_tag "USER_PRODUCTION_CENTRE = #{current_user.production_centre.name.to_json}" %>
<% end %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'mi_plans/index' %>
<% end %>

<div class="clear"></div>

<div id="mi-plans-grid" style="width: 650px; margin-left: auto; margin-right: auto"></div>
