<%= render :partial => "navigation" %>

<div class="quality-overviews">
<table class="report_table">
  <tr>
    <th>Consortium</th>
    <th>Production centre</th>
    <th>Distribution centres</th>
    <th>Marker symbol</th>
    <th>ES cell clone</th>
    <th>Colony</th>
    <th>Status</th>
    <th>Overall pass</th>
    <th>Locus targeted</th>
    <th>Structure targeted</th>
    <th>Downstream LoxP site</th>
    <th>No additional vector insertions</th>
    <th>ES-dist-qc</th>
    <th>ES-user-qc</th>
    <th>Mouse-qc</th>
  </tr>
  <%= render @quality_overviews %>
</table>
</div>
