<table class="report_table">
  <tr>
    <th>Consortium</th>
    <th>Production Centre</th>
    <th>Number of genotype confirmed colonies</th>
    <th>Number of colonies with overall pass</th>
    <th>Percentage of genotype confirmed colonies which are also 'Overall Pass'</th>
    <th>Total confirm_locus_targeted fails</th>
    <th>Total confirm_structure_targeted_allele fails</th>
    <th>Total confirm_downstream_lox_p_site fails</th>
    <th>Total confirm_no_additional_vector_insertions fails</th>
  </tr>
  <%= render @quality_overview_groupings %>

</table>
