<% @title = 'All Planned Crispr-Based Production' %>

<div class="grid_12">
  <h2><%= @title %></h2>
  <p>
  <%=
    link_to('Download as CSV', url_for({:action => :planned_crispr_microinjection_list, :controller => '/v2/reports/mi_production', :format => :csv}))
  %>
  </p>
</div>

<div class="report grid_12">
  <%= render :partial => 'report_with_counts4', :locals => { :report => @report, :label => 'planned micro-injections' } %>
</div>
