<% if @title =~ /Micro.Injections/ %>
<% action = :planned_microinjection_list %>
<% else %>
<% action = :planned_crispr_microinjection_list %>
<% end %>

<div class="grid_12">
  <h2><%= @title %></h2>
</div>

<%= form_tag( { :action => action }, :method => :get, :class => 'report-form' ) do |form| %>
  <%= render 'report_controls2', :grouping => true, :mi_plan_reports => true %>
<% end %>

<% unless params[:commit].blank? %>
  <div class="report grid_12">
    <%= render :partial => 'report_with_counts2', :locals => { :report => @report, :label => 'planned micro-injections' } %>
  </div>
<% end %>
