<div>
  <form method="get" action="/emi_attempts">
    <textarea cols="50" rows="10" name="clone_names" id="clone_names"></textarea>
    <input type="submit" value="Search" />
  </form>
</div>

<%@clones_names ||= [] %>
<%= emi_attempts_table(@clone_names) %>
