<div>
  <form method="get" action="/emi_attempts">
    <textarea cols="50" rows="10" name="search_terms" id="search_terms"></textarea>
    <input type="submit" value="Search" />
  </form>
</div>

<%  @search_terms ||= [] %>
<%= emi_attempts_table(@search_terms) %>
