<% @title = "Micro-Injection Summary" %>

<div class="container_12" style="overflow: hidden">

  <div class="prefix_4 grid_4">
    <form method="get" action="/emi_attempts">
      <div>
        <textarea cols="10" rows="10" name="search_terms" id="search_terms"></textarea>
      </div>

      <div>
        <input id="submit" type="submit" value="Search" />
      </div>
    </form>
  </div>

  <div class="grid_4">
    <p>Enter some search terms, separated by new-lines.</p>
  </div>

  <div class="clear"></div>
</div>

<%  @search_terms ||= [] %>
<%= emi_attempts_table(@search_terms) %>
