<% @tab = "Admin" %>

<div class="grid_12">
  <h2>iMits Admin area</h2>

  <p>What would you like to do today?</p>

  <div class="clear" style="margin-top:15px"></div>
</div>

<div class="grid_8">
  <div class="homepage-links">
    <a href="<%= url_for [:admin, :users] %>">
      <h3>User Management</h3>
      <p>Masquerade &amp; Create users</p>
    </a>
  </div>

  <div class="homepage-links">
    <a href="<%= url_for [:admin, :notifications] %>">
      <h3>Notifications</h3>
      <p>View notifications sent for genes. You can also retry notifications.</p>
    </a>
  </div>

  <div class="homepage-links">
    <a href="<%= url_for [:admin, :contacts] %>">
      <h3>Contacts</h3>
      <p>View, edit &amp; remove contacts in iMits.</p>
    </a>
  </div>

  <div class="homepage-links">
    <a href="<%= url_for [:admin, :email_templates] %>">
      <h3>Email Templates</h3>
      <p>Manage the email templates used in Gene Notifications.</p>
    </a>
  </div>
</div>