<% @title = "Manage tracking goals" %>

<%= javascript_tag "CENTRE_OPTIONS = #{Centre.all.map(&:name).sort.to_json};" %>
<%= javascript_tag "GOAL_TYPES = #{TrackingGoal::GOAL_TYPES.to_json};" %>
<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'tracking_goals/index' %>
<% end %>

<div class="clear"></div>

<div id="tracking-goals-grid"></div>