<%= javascript_tag "CONSORTIUM_OPTIONS = #{Consortium.all.map(&:name).sort.to_json}" %>

<% content_for :post_js_footer do %>
  <%= javascript_include_tag 'production_goals/index' %>
<% end %>

<div class="clear"></div>

<div id="production-goals-grid"></div>