<% @tab = "Consortia" %>
<% @title = 'Consortia Using iMits' %>

<div class="grid_12">
  <h2><%= @title %></h2>
  <p>
    This page lists all the IMPC Consortia contributing data to iMits, their funding bodies,
    and their associated IMPC production centres.
  </p>
  <div class="clear" style="margin-top:15px"></div>
</div>

<div class="grid_12 alpha omega">
  <% @consortia_production_centres.keys.sort.each do |consortium| %>
    <div class="grid_3">
      <table class="full_width report_table">
        <thead>
          <tr>
            <th colspan="2"><%= consortium %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Funding Body</td>
            <td><%= Consortium.find_by_name!(consortium).funding %></td>
          </tr>
          <tr>
            <td>Prod. Centres</td>
            <td><%= @consortia_production_centres[consortium].join(', ') %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
