<% @title = 'Production Summaries' %>

<% content_for :head do %>
<style type="text/css">
  .descriptions th, .descriptions td {
     text-align: left
  }
</style>
<% end %>

<div class="report">
<table class="descriptions">
<tr><th width="200">Status</th><th>Description</th></tr>
<tr><td><strong>Assigned</strong></td><td>Allele will be created by pipeline</td></tr>
<tr><td><strong>Assigned - ES QC in progress</strong></td><td>Attempts are being made by ES Cell distribution centre to thaw and QC one or more ES Cell clones (up to a total of five clones).</td></tr>
<tr><td><strong>Assigned - ES QC complete</strong></td><td>QC ES Cell clone(s) have been thawed and QC passed. Time to MI now depends on RSF schedule.</td></tr>
<tr><td><strong>Aborted - ES QC Failed</strong></td><td>No more attempts will be made to thaw existing ES Cell clones. MGP needs to make a decision about possible retargeting into ES Cells.</td></tr>
<tr><td><strong>Microinjection aborted</strong></td><td>Existing mouse production attempt has been abandoned (e.g. because of insufficient chimerism, possible genotype confirmed mice being failed etc). The project will continue (with new MI attempts) until decision is made by the MGP on whether to continue with this gene.</td></tr>
<tr><td><strong>Mouse Genotype Confirmed</strong></td><td>F1 mice have been genotyped to show they contain the mutant allele. Cohorts will be generated for phenotyping. Mice will be made available for distribution.</td></tr>
</table>
</div>


<h2><%= @title2 %></h2>

<p><%= link_to('Download as CSV', url_for({:format => :csv}.merge(params))) if @csv %></p>

<% if @csv %><br/><% end %>

<div class="report grid_12">

<%= raw @report.to_html if @report %>

</div>


