<% @title = "Log in" %>

<div id="login-form">
  <form method="post" action="/user_sessions">
    <div>
      <label for="username">Username</label>
      <input id="username" name="username" type="text"></input>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" name="password" type="password"></input>
    </div>

    <div>
      <input id="submit" type="submit" value="Login" />
    </div>
  </form>
  <script type="text/javascript">document.getElementById("username").focus();</script>
</div>
