<% @title = 'Double Assigned Planned Micro-Injections' %>

<p><%= link_to "Download List as CSV", :controller => :reports, :action => :double_assigned_plans_list, :format => :csv %></p>
<p><%= link_to "Download Matrix as CSV", :controller => :reports, :action => :double_assigned_plans_matrix, :format => :csv %></p>

<br/>

<h2>Double-Production <em>Between</em> Consortia</h2>
<p>Counts unique genes for mice in production or already produced by two different consortia</p>

<div id="double-matrix" class="report grid_12">

<%= raw @report1.to_html %>

</div>

<h2>Double Production by Consortium</h2>
<p>Lists each MI produced <em>either</em> at two different consortia <em>or</em> at two production centres within the same consortium</p>

<div id="double-list" class="report grid_12">

<%= raw @report2.to_html %>

</div>
