<% @title = 'Double Assigned Micro-Injection Plans List' %>

<h2><%= @title %></h2>

<p><%= link_to "Download as CSV", :controller => :reports, :action => :double_assigned_mi_plans_list, :format => :csv %></p>

<div class="report grid_12">

<%=raw @report.to_html %>

</div>
