<% @title = 'Double Assigned Micro-Injections' %>

<p><%= link_to "Download List as CSV", :controller => :reports, :action => :double_assigned_plans_list, :format => :csv %></p>
<p><%= link_to "Download Matrix as CSV", :controller => :reports, :action => :double_assigned_plans_matrix, :format => :csv %></p>

<br/>

<h2>Double Assigned Micro-Injection Matrix</h2>

<div id="double-matrix" class="report grid_12">

<%= raw @report1.to_html %>

</div>

<h2>Double Assigned Micro-Injection List</h2>

<div id="double-list" class="report grid_12">

<%= raw @report2.to_html %>

</div>
