<% @title = 'Feed Test' %>

<h2>Consortia</h2>

<div class="report grid_12">

<%= raw @report1.to_html %>

</div>

<h2>Centres</h2>

<div class="report grid_12">

<%= raw @report2.to_html %>

</div>

<h2>Consortia and Centres</h2>

<div class="report grid_12">

<%= raw @report3.to_html %>

</div>
