
<%= form_tag( { :controller => 'reports', :action => 'gene_summary' }, :method => :get ) do |form| %>
  <%= render :partial => 'report_controls', :locals => { :grouping => false } %>
<% end %>

<% unless params[:commit].blank? %>
  <div id="report">
    <%=raw @report.to_html %>
  </div>
<% end %>
