<% @title = 'Summary Test' %>

<h2>Summary 1</h2>

<div class="report grid_12">

<%= raw @report1.to_html if @report1 %>

</div>


<h2>Summary 2</h2>

<div class="report grid_12">

<%= raw @report2.to_html if @report2 %>

</div>
