<% @tab = 'Reports' %>

<h2>Reports</h2>

<h3>Microinjection Reports</h3>

<ul>
  <li><%= link_to 'Gene Summary', url_for(:controller => 'reports', :action => 'gene_summary') %></li>
  <li><%= link_to 'Month-by-Month Production Summary', url_for(:controller => 'reports', :action => 'production_summary') %></li>
  <li><%= link_to 'All Micro-injections', url_for(:controller => 'reports', :action => 'microinjection_list') %></li>
</ul>
