<% @title = 'MI Production Report' %>

<div class="grid_12">
  <h2><%= @title %></h2>
</div>

<div class="report grid_12">
  <% if @detail_cache %>
    <%= link_to('Download', url_for(:action => :show, :controller => :report_caches, :id => @detail_cache.name, :format => :csv) + '?' + @detail_cache.compact_timestamp) %>
  <% else %>
    <p>No data available</p>
  <% end %>
</div>
