<% @title = 'MI Production Report' %>

<div class="grid_12">
  <h2><%= @title %></h2>
</div>

<div class="report grid_12">
  <% if @detail_cache %>
    <%= link_to 'Download', "/report_caches/#{@detail_cache.name}.csv?#{@detail_cache.compact_timestamp}" %>
  <% else %>
    <p>No data available</p>
  <% end %>
</div>
