<% @title = 'All Micro-injections' %>

<%= form_tag( { :controller => 'reports', :action => 'microinjection_list' }, :method => :get ) do |form| %>
  <%= render 'report_controls', :grouping => true %>
<% end %>

<% unless params[:commit].blank? %>
  <div id="report">
    <%=raw @report.to_html %>
  </div>
<% end %>
