<% @title = 'Production Summaries' %>

<h2><%= @title2 %></h2>

<%
  params = ''
  qpos = request.request_uri.index('?')
  if qpos && qpos > -1
    params = '?' + request.request_uri.scan( /\?(.+)/ ).last.first
  end
%>

<p><%= link_to('Download as CSV', url_for(:action => :production_summary2, :controller => :reports, :format => :csv) + params) if @csv %></p>

<% if @csv %><br/><% end %>

<div class="report grid_12">

<%= raw @report.to_html if @report %>

</div>
