<% @title = 'Production Summaries' %>

<h2>Production Summary 1</h2>

<p><%= link_to "Download as CSV", :controller => :reports, :action => :production_summary1, :format => :csv if @csv %></p>

<% if @csv %><br/><% end %>

<div class="report grid_12">

<%= raw @report1.to_html if @report1 %>

</div>

<h2>Production Summary 2</h2>

<%= link_to "Download as CSV", :controller => :reports, :action => :production_summary2, :format => :csv if @csv %>

<% if @csv %><br/><br/><% end %>

<div class="report grid_12">

<%= raw @report2.to_html if @report2 %>

</div>
