<%
  navigation_links = [
    ['Home', root_path],
    ['Gene Selection', gene_selection_mi_plans_path],
    ['Plans', mi_plans_path],
    ['Create MI Attempt', new_mi_attempt_path],
    ['Mouse Production', mi_attempts_path('q[production_centre_name]' => current_user.filter_by_centre.try(:name))],
#    ['Genotype Verification', quality_overview_groupings_path],
    ['Phenotyping', "#{root_path}phenotype_attempts?q[production_centre_name]=#{current_user.filter_by_centre.try(:name)}"],
    ['Reports', reports_path],
    ['Manual', request.env['SCRIPT_NAME'].to_s+'/manual.pdf']
  ]

  @tab2 = @tab
  @tab2 = 'Gene Selection' if @tab == 'Gene Summary'

%>

<ul>
  <% navigation_links.each do |link| %>
    <li <% if @tab2 == link[0] %>class="current"<% end %>>
      <%= link_to *link %>
    </li>
  <% end %>
</ul>
