<%
  navigation_links = [
    ['Home', root_path],
    ['View & Edit Your Genes', mi_plans_path],
    ['Gene Selection', gene_selection_mi_plans_path],
    ['Search & Edit MI Attempts', mi_attempts_path('q[production_centre_name]' => current_user.production_centre.name)],
    ['Create MI Attempt', new_mi_attempt_path],
    ['Reports', reports_path],
    ['Manual', request.env['SCRIPT_NAME'].to_s+'/manual.pdf']
  ]
%>

<ul>
  <% navigation_links.each do |link| %>
    <li <% if @tab == link[0] %>class="current"<% end %>>
      <%= link_to *link %>
    </li>
  <% end %>
</ul>
