<div id="userbox">
  <div id="userbox-inner">
    You are logged in as <%= current_user.email %><br/>
    <%= link_to 'Edit profile', user_path, :class => @title == 'Edit Profile' ? 'active' : '' %>
    <% if current_user.admin? %>
      | <%= link_to 'Admin', admin_path, :class => @tab == 'Admin' ? 'active' : '' %>
    <% end %>
    | <%= link_to 'Logout', destroy_user_session_path %>
  </div>
</div>
